html {
    padding: 0;
    margin: 0;


    width: 100%;
    
    height: 100%;
}

/* Adding some comments */

html {
    padding: 0;  
    margin: 0;
    /* Adding some comments */
    width: 100%;   
    height:  100%;   
}

a {
    padding: 0;
/* Adding some comments */
    content: '/* Test */';
}
